/* RESET */
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Nunito Sans", sans-serif;
}

a {
  text-decoration: none;
  color: currentColor;
}

/* Utils */
.container {
  width: 90%;
}

.button {
  background-color: white;
  border-radius: 30px;
  padding: 8px 10px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.d-block {
  display: none;
}

/* Header */
.header-section {
  display: flex;
  padding: 20px 0;
}
.header-section p {
  color: orange;
  margin: 20px auto;
  font-family: "Nerko One", cursive;
  font-weight: bolder;
  font-size: 3rem;
  text-shadow: 3px 2px 3px rgb(0 0 0 / 20%);
}

/* Body section */
.body-section {
  padding: 20px 0;
  background-color: #f6f5f3;
}

.body-title {
  margin: 10px auto;
  display: flex;
  flex-direction: column;
  gap: 7px;
}
.body-title p {
  opacity: 0.4;
}

.body-title h1 {
  font-size: 1.9rem;
  color: #69578f;
}

.banner {
  margin: 10px 5%;
}

/* recipe */
.recipe {
  background-color: white;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.recipe h1 {
  margin: 20px 40px 0;
}

.recipe-list {
  padding: 20px 40px;
}

.recipe-list p {
  line-height: 30px;
}

.button-list {
  display: flex;
  justify-content: space-between;
  margin: 20px auto;
}

/* presentation */
.presentation {
  margin: 20px auto;
  display: flex;
  flex-direction: column;
}

.presentation hr {
  border-color: orange;
  width: 10%;
}

.presentation .image-container {
  display: block;
  width: 60%;
  margin: 10px auto;
  align-self: center;
}

.presentation p {
  line-height: 30px;
}

.presentation p b {
  font-size: 1.1rem;
}

/* Footer */
.footer-section {
  background-color: #7c69a4;
  color: white;
  padding: 20px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 7px;
}

.link-list {
  display: flex;
  gap: 20px;
  width: 70%;
  flex-wrap: wrap;
  justify-content: center;
}

.link-list a {
  text-decoration: underline;
}

/* SPAM */
.red {
  color: red;
}
.blue {
  color: rgb(19, 149, 201);
}
.pink {
  color: palevioletred;
}

/* Media */
@media screen and (min-width: 768px) {
  .header-section p {
    margin: 20px;
    font-size: 3.5rem;
  }
  .body-section {
    padding: 50px 0;
  }
  .recipe-list {
    display: flex;
    flex-wrap: wrap;
    gap: 0px 75px;
  }
  .d-block {
    display: inline;
  }
  .presentation .image-container {
    display: inline;
  }
}
